-breadcrumbs [{name: "Top", path: root_path}, {name: "#{@poll.user.name}'s polls", path: user_polls_path(@poll.user)}, {name: @poll.title, path: user_poll_path(@poll.user, @poll)}]
#polls-show
  #summary
    .title-wrap
      h1.title #{@poll.title}
      ul
        li.votes  #{@poll.votes.count} votes
        li |
        li #{link_to "Result", user_poll_votes_path(@user, @poll)}
    p.description #{@poll.description}

  =form_for [@poll.user, @poll, @poll.votes.build] do |f|
    =f.hidden_field :item_id

  #items
    - @poll.items.each do |item|
      .item
        / p.item-caption #{item.caption}
        .item-photo style="background-image: url('#{item.photo}')" data-image-url="#{item.photo}"
        .vote-btn data-item-id="#{item.id}"
          .vote-label + Vote
        ul.action-votes
          li.action #{link_to "", edit_user_poll_item_path(@user, @poll, item), class: "icon-edit"}
          li.action #{link_to "", user_poll_item_path(@user, @poll, item), class: "icon-trash", method: :delete, confirm: "Are you sure?" if me? @poll.user}
          li.votes  #{@poll.votes.by_item(item).count} voted
    .item.new-item
      .loaded-photo
      p.new-label +
      div.upload-btn
        p.upload-label Upload

  #uploading-form
    - if me? @poll.user
      =form_for [@user, @poll, @poll.items.build] do |f|
        =f.text_field :caption
        =f.file_field :photo
        =f.submit "add item"

  ul.owner-actions
    li #{link_to "Edit this poll", edit_user_poll_path(@user, @poll)}

=content_for :bottom do
  - if me? @poll.user
    coffee:
      $(".new-item .loaded-photo").click ->
        $("form#new_item #item_photo").trigger "click"

      $("form#new_item #item_photo").change ->
        if file = $(this).prop("files")[0]
          fr = new FileReader()
          fr.onload = ->
            $(".new-item").addClass "file-selected"
            $(".new-item .loaded-photo").css "background-image", "url('#{this.result}')"
          fr.readAsDataURL file
        else
          $(".new-item .loaded-photo").css "background-image", ""
          $(".new-item").removeClass "file-selected"

      $(".upload-btn").click (e)->
        $("form#new_item").submit()

      $(".vote-btn").click ->
        itemId = $(this).attr "data-item-id"
        $("#vote_item_id").val itemId
        $("#new_vote").submit()

      $ ->
        $(".item-photo").each ->
          _this = $(this);
          $(_this).fancybox {
            padding : 10,
            openEffect  : "elastic",
            helpers : {
              overlay : {
                css : {
                  "background" : "rgba(0, 0, 0, 0.6)"
                }
              }
            },
            href: $(_this).attr "data-image-url"
          }
