@import "mixins";
#contents {
  @include transition(all 0.3s ease);
  height: 100%;
  &.before-fadein {
    margin-left: 50px;
    opacity: 0;
  }
  &.fadeout {
    margin-left: -50px;
    opacity: 0;
  }
}
