@import "mixins.css.scss";
body > header {
  @include clearfix();
  padding: 10px 0 5px;
  color: #000;
  text-shadow: 0px -1px 0px #666;
  border-bottom: 1px solid #333;
  h1 {
    font-size: 28px;
    font-weight: 100;
  }
}
