@import "mixins";
@import "font-awesome";
#polls-index {
  #title {
    margin: 0 0 20px;
    h1 {
      font-size: 28px;
      text-shadow: 0px -1px 0px #888;
      text-align: right;
      font-weight: 100;
    }
  }
  #polls {
    margin: 0 0 20px -20px;
    @include clearfix();
    .poll {
      float: left;
      background-color: #ccc;
      height: 280px;
      width: 280px;
      margin: 0 0 20px 20px;
      box-shadow: 0px 6px 6px -6px #666;
      position: relative;
      .poll-photo {
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        .show-link {
          width: 100%;
          height: 100%;
          position: absolute;
          bottom: 0;
          a {
            width: 100%;
            height: 100%;
            display: block;
          }
        }
      }
      .poll-summary {
        color: #eee;
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        .title {
          padding: 8px;
          margin-bottom: 8px;
          font-size: 22px;
          font-weight: 100;
          a {
            color: #eee;
          }
        }
        .operations {
          text-align: right;
          @include opacity(0);
          @include transition(all 0.2s linear);
          li {
            display: inline-block;
            margin: 0 5px 5px 0;
            a {
              color: #eee;
            }
          }
        }
      }
      &:hover {
        .poll-summary {
          .operations {
            @include opacity(1);
          }
        }
      }
    }
  }
}

#polls-show {
  #summary {
    @include clearfix();
    margin: 20px 0;
    .title-wrap {
      float: right;
      text-align: right;
      width: 40%;
      .title {
        font-size: 28px;
        text-shadow: 0px -1px 1px #888;
        font-weight: 100;
      }
      .votes {
        margin: 5px 2px 0 0;
      }
    }
    .description {
      float: left;
      width: 50%;
      font-weight: 100;
      font-size: 1.2em;
    }
  }
  #items {
    margin: 0 0 20px -80px;
    @include clearfix();
    .item {
      float: left;
      margin: 0 0 20px 80px;
      position: relative;
      .item-photo {
        background-position: center;
        background-size: cover;
        height: 240px;
        width: 240px;
        margin-bottom: 10px;
        box-shadow: 0px 6px 6px -6px #666;
      }
      &:hover {
        .vote-btn {
          @include opacity(1);
        }
        .vote-btn {
          @include opacity(1);
        }
      }
      .vote-btn {
        @include border-radius(5px);
        @include opacity(0);
        @include transition(all 0.1s linear);
        box-shadow: 0px 0px 10px #333 inset;
        background-color: rgba(0, 0, 0, 0.5);
        width: 68px;
        height: 30px;
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        .vote-label {
          color: #fff;
          margin: 6px 0 0 8px;
        }
      }
      .item-caption {
        font-size: 1.2em;
        font-weight: 100;
        min-height: 1.2em;
      }
      .action-votes {
        text-align: right;
        li {
          display: inline-block;
        }
      }
    }
    .new-item {
      background-color: #eee;
      height: 240px;
      width: 240px;
      position: relative;
      cursor: pointer;
      margin-top: 1.2em;
      .loaded-photo {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
      }
      .new-label {
        position: absolute;
        top: 100px;
        left: 108px;
        font-size: 36px;
        color: #bbb;
      }
      .upload-btn {
        display: none;
        position: absolute;
        bottom: -32px;
        width: 100%;
        height: 32px;
        @include gradient(#eee, #ddd);
        .upload-label {
          margin-top: 8px;
          text-align: center;
          color: #999;
        }
      }
      &.file-selected {
        .new-label {
          display: none;
        }
        .upload-btn {
          display: block;
        }
      }
    }
  }
  #uploading-form {
    form {
      display: none;
    }
  }
}
