html
  head
    title Votefolio
    =stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    =javascript_include_tag "application", "data-turbolinks-track" => true
    =csrf_meta_tags
  body
    =render partial: "components/header"
    #contents.before-fadein
      =yield
    =render partial: "components/footer"
    =yield :bottom
